.avatar {
	width: 2.2rem;
	height: 2.2rem;
	text-align: center;
	border: 1px solid var(--color-primary-4);
	margin-right: 7px;
}

.chat-view {
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 10fr 1fr;

	height: 80vh;
	width: 70vw;
	margin: 4rem auto;
	padding: 0 2rem 1rem;

	border: 3px solid var(--color-grey-2);
	box-shadow: 0 2px 10px 4px rgba(0, 0, 0, 0.1);
	border-radius: 12px;
}
@media screen and (max-width: 1200px) {
	.chat-view {
		width: 90vw;
	}
}

/* --------------Active users---------------- */
.users {
	margin: 2rem 0.5rem;
}
.users h3 {
	font-size: 1.4rem;
	margin-bottom: 1rem;
}

.user-list {
	display: flex;
	flex-direction: column;
	list-style: none;
}
.user-list li:not(:last-child) {
	margin-bottom: 5px;
}

.user__avatar {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
}

.user {
	display: flex;
	align-items: center;

	font-family: 'Erode', serif;
	font-weight: 500;
}

/* --------------Messages---------------- */
.messages {
	display: flex;
	flex-direction: column;
	margin: 1rem;
}
.messages h3 {
	text-align: center;
	font-size: 2rem;
	margin-bottom: 1rem;
}

.message-list {
	flex: 1;

	display: flex;
	flex-direction: column;
	gap: 1rem;
	/* Put messages at the top */
	justify-content: flex-start;

	padding: 1rem;
	width: 100%;
	/* Can scroll the message box if too many messages */
	overflow: scroll;

	border: 1px solid var(--color-primary-3);
	border-radius: 10px;
}

.message {
	width: 70%;
}

.message__sender {
	display: flex;
	align-items: center;
	margin-bottom: 7px;
}

.sender__avatar {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.6rem;
	font-weight: 700;
	color: var(--color-primary-5);
	border-radius: 10%;
}

.message__text {
	word-wrap: break-word;
	/* word-break: break-all; */
}

/* --------------Logout---------------- */
.logout {
	justify-self: center;
	align-self: center;
}

.logout-btn {
	border: none;
	background-color: transparent;
	font-family: 'Erode', serif;
	font-size: 1.5rem;
	font-weight: 600;
	border-bottom: 2px solid var(--color-primary-4);
	cursor: pointer;

	transition: all 0.2s ease-in-out;
}
.logout-btn:hover {
	transform: translateY(-1px);
	color: var(--color-primary-4);
	text-shadow: 0 10px 4px rgba(0, 0, 0, 0.1);
}
.logout-btn:active {
	transform: none;
}

/* --------------Send form---------------- */
.sender__username {
	font-weight: 500;
}

.send-form {
	margin: 0 1rem;
	display: flex;
	gap: 1rem;
	width: 100%;
}

.send-form__input--text {
	flex: 1;

	font-family: inherit;
	font-size: 1.3rem;
	line-height: 1.6;
	border-radius: 10px;
	border: none;
	padding: 1rem;

	transition: box-shadow 0.3s;
}
.send-form__input--text:focus {
	outline: none;
}
/* Make sure input has some text in it */
.send-form__input--text:required:invalid {
	box-shadow: inset 0 -3px 0 0 #dc2626;
}

.send-form__btn {
	font-family: inherit;
	font-weight: 700;
	font-size: 1.3rem;
	color: var(--color-grey-1);
	padding: 1rem 2rem;
	border: none;
	background-color: var(--color-primary-3);
	border-radius: 10px;
	cursor: pointer;
}

.footer {
	text-align: center;
}
