*, *::before, *::after { 
  box-sizing: border-box;
}

body { 
  margin: 0;

  font-family: sans-serif;
}

.todos { 
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.todo { 
  display: flex;
  flex-direction: row;
  align-items: center;

  min-width: 54px;
  min-height: 54px;
}
  

.todo:hover,
.todo:focus { 
  background-color: #363;
  color: white;
}

.todo label { 
  display: flex;
  flex-direction: row;
  align-items: center;

  min-width: 54px;
  min-height: 54px;
}

.todo__text--complete { 
  text-decoration: line-through;
}


.todo__delete { 
  display: none;

  border: none;
  margin-left: 0.25rem;
  min-width: 54px;
  min-height: 54px;

  background-color: transparent;
  font-size: 0.8rem;
  cursor: pointer;
}
.todo__delete:hover { 
  border: 1px solid black;
  filter: brightness(2);
  background-color: #364;
}

.todo:focus-within .todo__delete,
.todo:hover .todo__delete { 
  display: inline-block;
}

.todo__text--added { 
  animation: fadeIn 1s;
}

@keyframes fadeIn { 
  from { 
    opacity: 0;
  }
  to { 
    opacity: 1;
  }
}
