/* -----------Calendar---------------- */
.react-calendar {
	width: 22rem;
	max-width: 100%;
	background-color: inherit;
	border: 1px solid #a0a096;
	font-family: var(--font-text);
	line-height: 1.2rem;
	overflow: hidden;
}

.react-calendar button {
	font-family: var(--font-text);
	font-weight: var(--weight-text-3);
	color: var(--clr-text-neutral-1);
	cursor: pointer;
}

.react-calendar__navigation {
	display: flex;
	height: 2.7rem;
	margin-bottom: 0.6rem;
}

.react-calendar__navigation button {
	min-width: 2.7rem;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
	background-color: var(--clr-bg-2);
}

.react-calendar__month-view__weekdays {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.75rem;
}

.react-calendar__month-view__weekdays__weekday {
	padding: 0.5rem;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.75rem;
	font-weight: bold;
}

.react-calendar__month-view__days__day--weekend abbr {
	color: var(--clr-text-indigo-1);
}

.react-calendar__month-view__days__day--neighboringMonth abbr {
	color: var(--clr-bg-2);
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
	padding: 2em 0.5em;
}

.react-calendar__tile {
	max-width: 100%;
	padding: 0.7rem 0.5rem;
	text-align: center;
	line-height: 1rem;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
	background-color: var(--clr-bg-2);
}

.react-calendar__tile--now abbr,
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
	color: red;
	font-weight: var(--weight-text-4);
}

.react-calendar__tile--active {
	background-color: var(--clr-text-indigo-2);
}
.react-calendar__tile--active abbr {
	color: var(--clr-bg-1);
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
	background-color: var(--clr-text-indigo-2);
}
