/* -----------Logo + Name---------------- */
.logo {
	display: flex;
	align-items: end;
}
.logo__img {
	height: 4rem;
	margin-right: -0.7rem;
}
.logo__text {
	font-family: var(--font-heading);
	font-size: 2rem;
}

/* -----------Theme Toggler---------------- */
.theme__checkbox {
	opacity: 0;
	position: absolute;
}

.theme__label {
	background-color: #111;
	width: 3.6rem;
	height: 1.9rem;
	border-radius: 5rem;
	position: relative;
	padding: 0.6rem;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.theme__label--moon,
.theme__label--sun {
	color: var(--clr-text-amber-2);
}

.theme__label--ball {
	background-color: #fff;
	width: 1.6rem;
	height: 1.6rem;
	position: absolute;
	left: 3px;
	top: 2px;
	border-radius: 50%;
	transition: transform 0.2s linear;
}

.theme__checkbox:checked + .theme__label .theme__label--ball {
	transform: translateX(1.7rem);
}

/* -----------Buttons---------------- */
button {
	border: none;
	background-color: transparent;

	transition: all 0.2s ease-in-out;
}
button:hover {
	transform: translateY(-2px) translateX(-3px);
}
button:active {
	transform: none;
}

.btn--with-border {
	font-family: var(--font-heading);
	font-weight: var(--weight-heading-4);
	background-color: var(--clr-text-amber-1);
	color: var(--clr-bg-1);
	width: 100%;
	margin: 1rem 0;
	padding: 0.5rem 0 0.3rem;
	font-size: 1.8rem;
	border-radius: 2rem;
}
.btn--with-border:hover {
	box-shadow: 0 2px 0.5rem 2px rgba(0, 0, 0, 0.07);
}

.btn--without-border {
	font-family: var(--font-heading);
	font-weight: var(--weight-heading-4);
	color: var(--clr-text-amber-1);
	margin: 1rem 0 0.7rem;
	font-size: 1.8rem;
	border-bottom: 2px solid currentColor;
}
.btn--without-border:hover {
	color: var(--clr-text-amber-2);
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

/* -----------Form Row---------------- */
form {
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
	width: 50vw;
}

.form-row {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
	margin-bottom: 1rem;
}
.form-row__label {
	font-family: var(--font-text);
	font-weight: var(--weight-text-4);
	margin-left: 0.4rem;
}
.form-row__input {
	width: 100%;
	border: none;
	border-radius: 0.5rem;
	padding: 0.3rem 0.6rem;
	font-family: inherit;
	font-size: 1.2rem;
	font-weight: var(--weight-text-3);
	box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.02);
}
.form-row__input:focus {
	outline: none;
	box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.08);
}

.form-row__select {
	width: 100%;
	border: none;
	border-radius: 0.5rem;
	padding: 0.3rem 0.6rem;
	font-family: inherit;
	font-size: 1.2rem;
	font-weight: var(--weight-text-3);
	box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.02);
}
.form-row__select:first-child {
	color: #888;
}
.form-row__select:focus {
	outline: none;
	box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.08);
}

/* -----------Loading---------------- */
.loading {
	width: 200px;
	height: 60px;
	position: relative;
	z-index: 1;
}

.loading__circle {
	width: 20px;
	height: 20px;
	position: absolute;
	border-radius: 50%;
	background-color: var(--clr-text-amber-2);
	left: 15%;
	transform-origin: 50%;
	animation: circle-animation 0.5s alternate infinite ease;
}

@keyframes circle-animation {
	0% {
		top: 60px;
		height: 5px;
		border-radius: 50px 50px 25px 25px;
		transform: scaleX(1.7);
	}

	40% {
		height: 20px;
		border-radius: 50%;
		transform: scaleX(1);
	}

	100% {
		top: 0%;
	}
}

.loading__circle:nth-child(2) {
	left: 45%;
	animation-delay: 0.2s;
}

.loading__circle:nth-child(3) {
	left: auto;
	right: 15%;
	animation-delay: 0.3s;
}

.loading__shadow {
	width: 20px;
	height: 4px;
	border-radius: 50%;
	background-color: var(--clr-text-amber-1);
	position: absolute;
	top: 62px;
	transform-origin: 50%;
	z-index: -1;
	left: 15%;
	filter: blur(1px);
	animation: shadow-animation 0.5s alternate infinite ease;
}

@keyframes shadow-animation {
	0% {
		transform: scaleX(1.5);
	}

	40% {
		transform: scaleX(1);
		opacity: 0.7;
	}

	100% {
		transform: scaleX(0.2);
		opacity: 0.4;
	}
}

.loading__shadow:nth-child(4) {
	left: 45%;
	animation-delay: 0.2s;
}

.loading__shadow:nth-child(5) {
	left: auto;
	right: 15%;
	animation-delay: 0.3s;
}
