.transactions-section {
	width: 75%;
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.transaction-items {
	height: 72vh;
	padding: 1rem;
	border-radius: 1rem;
	background: var(--clr-bg-1);
	box-shadow: var(--big-box-shadow);
	position: relative;

	display: flex;
	flex-direction: column;
}

.transactions-actions {
	height: 6vh;
	display: flex;
	align-items: center;
	gap: 1.5rem;
	padding: 0 1rem 0.5rem;
}
.transactions-actions button {
	font-family: var(--font-text);
	border-radius: 0.7rem;
}
.transactions-actions .form-row__select {
	text-align: center;
	text-transform: capitalize;
	background-color: var(--clr-text-amber-1);
	color: var(--clr-bg-1);
	font-size: 1.6rem;
	font-weight: var(--weight-heading-3);
	padding: 0.3rem 0 0.1rem 0.5rem;
	box-shadow: none;
}

.transactions {
	height: 57vh;
	overflow-y: scroll;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(10, 1fr);
}

/* -----------pagination--------------- */
.transactions-pagination {
	height: 6vh;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

	display: flex;
	align-items: center;
	gap: 1rem;
	margin-top: 0.5rem;
}

.pagination__page {
	font-size: 2rem;
	font-weight: var(--weight-text-5);
}

.transactions-pagination .icon {
	fill: var(--clr-text-amber-1);
	width: 2rem;
	height: 2rem;
	padding-top: 0.4rem;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.transactions-pagination .icon:hover {
	transform: scale(1.2);
	fill: var(--clr-text-amber-2);
}

.transactions-pagination .icon.inactive {
	fill: var(--clr-bg-2);
	cursor: default;
}
.transactions-pagination .icon.inactive:hover {
	transform: none;
}

/* -----------Edit area--------------- */
.edit-area__title {
	text-align: center;
	height: 3rem;
	color: var(--clr-text-indigo-2);
	font-size: 2rem;
	font-weight: var(--weight-heading-3);
	font-family: var(--font-text);
}

.edit-area {
	overflow-y: scroll;
	/* 72vh is the height of left side, 6rem is the approximate height of "edit-area__title" and "edit-area__actions" */
	height: calc(72vh - 6rem);
	padding: 0 2rem;
}

/* 
<p className="go-to-settings">
					Want another account? Go to <button>Settings</button>!
				</p>
*/
.go-to-settings {
	font-size: 1.1rem;
	font-weight: var(--weight-text-3);
	color: var(--clr-text-indigo-2);
	margin: -0.6rem 0 1.2rem 0.3rem;
}
.go-to-settings button {
	font-size: 1.3rem;
	color: var(--clr-text-amber-2);
	font-family: inherit;
	font-weight: inherit;
	border-bottom: 1px solid currentColor;
}
.go-to-settings button:hover {
	transform: none;
}

/* -----------Edit area actions--------------- */
.edit-area__actions {
	padding: 0.3rem 2rem 0;
	display: flex;
	gap: 0.3rem;
}
.edit-area__actions__cancel {
	background-color: var(--clr-text-red);
}
.edit-area__actions__submit {
	background-color: var(--clr-text-green);
}
.edit-area__actions__delete {
	background-color: var(--clr-text-red);
}
.edit-area__actions__update {
	background-color: var(--clr-text-green);
}

/* -----------Transaction Item--------------- */
.transaction-item {
	background-color: var(--clr-bg-2);
	color: var(--clr-text-amber-2);
	padding: 0.5rem 1.5rem 0.5rem 1rem;
	margin: 0.5rem;
	border-radius: 1rem;

	display: flex;
	align-items: center;
	justify-content: space-between;

	cursor: pointer;

	transition: all 0.2s ease-in-out;
}
.transaction-item:hover {
	transform: scale(1.05);
}
.transaction-item.chosen {
	background: var(--clr-bg-3);
}

.transaction-item__icon svg {
	color: var(--clr-text-indigo-2);
	width: 1.5rem;
	height: 1.5rem;
	margin: 0.2rem 0.6rem 0 0;
}

.transaction-item .category-and-date {
	display: flex;
	flex-direction: column;
	margin-right: auto;
}

.transaction-item__category {
	font-size: 1.2rem;
	font-family: var(--font-heading);
	text-transform: uppercase;
	font-weight: var(--weight-heading-3);
}
.transaction-item__date {
	font-size: 1.1rem;
	margin-right: auto;
}
.transaction-item__amount {
	font-size: 1.6rem;
	font-weight: var(--weight-text-3);
}
.transaction-item__amount.income {
	color: var(--clr-text-green);
}
.transaction-item__amount.expenses {
	color: var(--clr-text-red);
}
