:root {
	--font-text: 'Erode', sans-serif;
	--font-heading: 'Sharpie', sans-serif;

	--weight-text-1: 300;
	--weight-text-2: 400;
	--weight-text-3: 500;
	--weight-text-4: 600;
	--weight-text-5: 700;

	--weight-heading-1: 300;
	--weight-heading-2: 400;
	--weight-heading-3: 700;
	--weight-heading-4: 800;
}
.light {
	--clr-bg-1: #f5f5f5;
	--clr-bg-2: #d4d4d4;
	--clr-bg-amber: #fffbeb;
	--clr-bg-indigo: #e0e7ff;

	--clr-text-neutral-1: #404040;
	--clr-text-neutral-2: #171717;
	--clr-text-indigo-1: #4338ca;
	--clr-text-indigo-2: #312e81;
	--clr-text-amber-1: #fbbf24;
	--clr-text-amber-2: #f59e0b;
	--clr-text-red: #f87171;
	--clr-text-green: #84cc16;
}
.dark {
	--clr-bg-1: #404040;
	--clr-bg-2: #171717;
	--clr-bg-amber: #451a03;
	--clr-bg-indigo: #312e81;

	--clr-text-neutral-1: #f5f5f5;
	--clr-text-neutral-2: #d4d4d4;
	--clr-text-indigo-1: #e0e7ff;
	--clr-text-indigo-2: #a5b4fc;
	--clr-text-amber-1: #fde68a;
	--clr-text-amber-2: #fcd34d;
	--clr-text-red: #f87171;
	--clr-text-green: #65a30d;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
}

body {
	background-color: var(--clr-bg-1);
	color: var(--clr-text-amber-1);
	font-family: var(--font-text);
	transition: background 0.2s linear;
}

.icon {
	fill: var(--clr-text-indigo-2);
}

input,
select,
textarea {
	width: 100%;
	border: none;
	border-radius: 0.7rem;
	padding: 0.3rem 0.6rem;
	font-family: inherit;
	font-size: 1.3rem;
	line-height: 1.5;
	font-weight: var(--weight-text-3);
	background-color: var(--clr-bg-2);
	color: var(--clr-text-neutral-1);
	box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.02);
}
