.dashboard-page {
}

.no-transactions {
	margin-top: 2rem;
	font-size: 1.7rem;
	text-align: center;
}
.no-transactions .go-to-add {
	font-weight: var(--weight-text-4);
	color: var(--clr-text-amber-2);
	cursor: pointer;
}

.bill__details {
	font-size: 1.5rem;
	font-family: 'Mali', cursive;
	width: 40vw;
	text-transform: capitalize;
	line-height: 1.7;
}

.bill__details__categories {
}

.type-row {
	display: flex;
	justify-content: space-between;
	font-weight: var(--weight-heading-3);
}
.type-row.income {
}
.type-row.expenses {
}

.type-row__title {
}

.type-row__sum.income {
	color: var(--clr-text-green);
}
.type-row__sum.expenses {
	color: var(--clr-text-red);
}

.category-row {
	font-size: 1.2rem;
	display: flex;
	justify-content: space-between;
}
.category-row__title {
}
.category-row__sum {
}

.bill__details__balance {
	display: flex;
	justify-content: space-between;
	font-weight: var(--weight-heading-3);
	color: var(--clr-text-indigo-2);
}
.balance-row__title {
}
.balance-row__sum {
}
