.section-center.success {
	background-color: var(--color-success);
}
.success + .footer {
	background-color: var(--color-success);
}

.navbar {
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem;
	margin-bottom: 2rem;
}

.new-game__btn,
.logout__btn {
	font-size: 2rem;
}

.message {
	padding: 1rem;
	text-align: center;
	font-size: 3.2rem;
	word-spacing: 0.5rem;
	letter-spacing: 3px;
	margin: 1rem auto 0;
}
.last-guessed__word {
	font-size: 5rem;
	text-transform: uppercase;
}

.last-guessed__count {
	font-size: 5rem;
}

.guess-area {
	display: grid;
	grid-template-columns: repeat(14, 1fr);
	grid-template-rows: 55vh auto;
	column-gap: 0.5rem;
	justify-items: center;
	justify-content: space-between;

	margin-top: 1.5rem;
}
.full-list {
	grid-column: 1 / span 5;
}
.guess__form {
	grid-column: 6 / span 4;
}
.guessed-list {
	grid-column: 10 / span 4;
}

.full-list__title,
.guessed-list__title {
	font-weight: 700;
	font-size: 1.5rem;
	margin-bottom: 1rem;
	text-align: center;
}
.full-list__words {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	column-gap: 0.5rem;

	letter-spacing: 2px;
	font-size: 1rem;
	height: 90%;
	border: 1px solid var(--color-stone-1);
	padding: 1rem;
	line-height: 1.5;
	text-align: center;
	overflow-y: scroll;
}
.full-list__words p:nth-child(even) {
	color: var(--color-stone-2);
}

.guess__form {
	align-self: center;

	display: flex;
	flex-direction: column;
	gap: 1rem;

	width: 90%;
}
.guess__input {
	padding: 1rem;
	font-family: inherit;
	font-size: 1.2rem;
	border: none;
	border-radius: 0.5rem;
}
.guess__input::placeholder {
	font-size: 1rem;
}
.guess__input:focus {
	outline: none;
}

.guess__btn {
	color: var(--color-stone-5);
	border-radius: 0.5rem;
	font-size: 1.5rem;
	padding: 0.5rem 1rem;
}

.guessed-list__content {
	border: 1px solid var(--color-stone-1);
	padding: 1rem;
	letter-spacing: 2px;
	height: 90%;
}
.guessed-list__content__title {
	display: flex;
	column-gap: 2rem;
	/* justify-content: space-between; */
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
}
.guessed-list__content__words {
	border-top: 1px solid var(--color-stone-1);
	font-size: 1rem;
	padding: 1rem;
	line-height: 1.5;
	height: 90%;
	text-align: center;
	overflow-y: scroll;
}
.guessed-list__content__words--row,
.guessed-list__content__words--row--invalid {
	display: flex;
	/* column-gap: 1rem; */
	justify-content: space-between;
}
.guessed-list__content__words--row--invalid {
	color: var(--color-warning);
}
