:root {
	--color-grey-1: #f1f5f9;
	--color-grey-2: #cbd5e1;
	--color-grey-3: #64748b;
	--color-grey-4: #334155;
	--color-grey-5: #0f172a;

	--color-primary-1: #e0e7ff;
	--color-primary-2: #a5b4fc;
	--color-primary-3: #6366f1;
	--color-primary-4: #4338ca;
	--color-primary-5: #312e81;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Recia', serif;
	font-weight: 400;
	background-color: var(--color-primary-1);
	color: var(--color-grey-5);
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Erode', serif;
	font-weight: 600;
}

.chat-app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	height: 80vh;
	width: 70vw;
	margin: 4rem auto;
	padding: 0 2rem 1rem;

	border: 3px solid var(--color-grey-2);
	box-shadow: 0 2px 10px 4px rgba(0, 0, 0, 0.1);
	border-radius: 12px;
}

.users {
	display: flex;
	align-items: center;
	gap: 2rem;

	width: 100%;
	padding: 1rem;
	list-style: none;
	border-bottom: 2px solid var(--color-primary-2);
}

.avatar {
	width: 2.4rem;
	border-radius: 50%;
	border: 1px solid var(--color-primary-5);
	margin-right: 7px;
}

.user__avatar {
	width: 1.5rem;
}

.user {
	display: flex;
	align-items: center;

	font-family: 'Erode', serif;
	font-weight: 500;
}

.messages {
	flex: 1;

	display: flex;
	flex-direction: column;
	gap: 1rem;
	/* Put messages at the top */
	justify-content: flex-start;

	padding: 1rem;
	width: 100%;

	/* I haven't find a solution that can meet all my requirements without front-end js:
	1. when messages list shorter than message box, messages will show at the top
	2. when adding new messages and messages list longer than message box, add scroll bar
	3. after adding new messages, the scroll bar will always stay at bottom unless user scroll it

	I can only meet 2 of them in every no-frontend-js method
	*/
	/* Can scroll the message box if too many messages */
	overflow: scroll;
}

.message {
	width: 70%;
}

.message__sender {
	display: flex;
	align-items: center;
	margin-bottom: 7px;
}

.message__text {
	word-wrap: break-word;
	/* word-break: break-all; */
}

.sender__username {
	font-weight: 500;
}

.send-form {
	display: flex;
	gap: 1rem;
	width: 100%;
}

.send-form__input--text {
	flex: 1;

	font-family: inherit;
	font-size: 1.3rem;
	line-height: 1.6;
	border-radius: 10px;
	border: none;
	padding: 1rem;

	transition: box-shadow 0.3s;
}
.send-form__input--text:focus {
	outline: none;
}
/* Make sure input has some text in it */
.send-form__input--text:required:invalid {
	box-shadow: inset 0 -3px 0 0 #dc2626;
}

.send-form__btn {
	font-family: inherit;
	font-weight: 700;
	font-size: 1.3rem;
	color: var(--color-grey-1);
	padding: 1rem 2rem;
	border: none;
	background-color: var(--color-primary-3);
	border-radius: 10px;
	cursor: pointer;
}

.footer {
	text-align: center;
}
