# please don't edit this file
# instead create a .gitignore file
# at the root of the repository
# Each .gitignore file applies to that directory and subdirectories

# we always want to keep node_modules out of our repo
# the files depend on your system
# it is created when we run `npm install`
# this is actually ignored at a higher .gitignore file
# and is included here only for educational purposes
node_modules

# We ignore this here because we haven't covered it yet
# it is also created when we run `npm install`
# but in later assignments will include it in the commits 
package-lock.json
